<%  content_for :css do %>
  <style>

    .photo{
    	width:224px;
    	margin:4px;
    	border:4px solid #fff;
    	position:relative;
    	overflow:hidden;
    }
    .photo:hover{
    	cursor:pointer;
    }
    .photo:hover .p-name-div{
    	bottom:-3px;
    }
    .p-name-div{
    	position:absolute;
    	background:rgba(255,255,255,1);
    	height:23px;
    	padding-top:5px;
    	width:100%;
    	bottom:-30px;
    	font-size:12px;
    	color:#666;
    }
    .p-name{
    	margin-left:3px;
    }
    .p-title{
    	margin:5px;
    }
    ol, ul, dl {
		padding:0px;
    	list-style: none outside none;
    }
    #category-div{
    	position:relative;
    	width:100%;
    	height:40px;
    	color:#999;
    }
    #category-nav li{
    	float:left;
    	margin-right:10px;
    	background-color:rgba(0,0,0,0);
    	padding:0 10px;
    }
    #category-nav li.filter:hover{
    	cursor:pointer;
    }
     #category-nav li.filter.selected{
    	background-color:rgba(0,0,0,0.3);
    	border-radius:4px;
    	color:#fff
    }
    #fullscreen{
    	width:100%;
    	height:100%;
    	background:rgba(0,0,0,0.9);
    	position:absolute;
    	left:0px;
    	top:0px;
    	display:none;
    }
    #full-back{
    	width:100%;
    	height:100%;
    	position:absolute;
    	z-index:0;
    }
    #full-container{
    	min-height:500px;
    	margin:20px auto 20px;
    	z-index:1;
    	position:relative;
    }
    #full-close{
    	position:absolute;
    	right:10px;
    	top:10px;
    	opacity:0.4;
    }
    #full-close:hover{
    	cursor:pointer;
    	opacity:0.7;
    }
    #wrapper-left, #wrapper-right{
    	position:relative;
    	float:left;
    }
    #wrapper-right{
    	padding:20px 25px 10px 15px;
    	width:330px;
    }
    #p-title{
    	color:#777;
    	font-size:18px;
    }
    .p-arrow{
    	height:40px;
    	width:26px;
    	position:absolute;
    	opacity:0.2;
    }
    #p-left{
    	left:20px;
    	background-position:0px 0px;
    }
    #p-right{
    	right:20px;
    	background-position:-26px 0px;
    }
    .p-arrow-div{
    	top:0px;
    	position:absolute;
    	height:100%;
    }
    #p-left-div{
    	left:0px;
    	width:40%;
    }
    #p-right-div{
    	right:0px;
    	width:60%;
    }
    .p-arrow-div:hover{
    	cursor:pointer;
    }
    .p-arrow-div:hover .p-arrow{
    	opacity:0.8;
    }
    
    #wrapper-left:hover #a-info{
    	opacity:1;
    }
    #a-info{
    	background:rgba(0,0,0,0.6);
    	position:absolute;
    	width:100%;
    	height:14px;
    	padding:8px 0 8px 0;
    	font-size:14px;
    	color:#ccc;
    	bottom:-1px;
    	opacity:0;
    }
    #a-info strong{
    	margin-left:10px;
    }
    .fb-like-div{
    	position:absolute;
    	right: -60px;
    	bottom: 0px;
    }

    .fb-comments-div{
    	width:330px;
    	overflow-y:scroll;
    }
    .stop-scrolling {
	  height: 100%;
	  overflow: hidden;
	}
	.image{
		width:100%;
	}
  </style>
<% end %>

<div id='category-div'>
	<ul id='category-nav'>
	  <li><b>Albums: </b></li><li id='album-all' class='filter <%= 'selected' if @a_init.nil? %>' album='*' a_name='All'>All</li>
	  <% @albums.each do |a| %>
	    <li id='album-<%= a.id %>' class='filter  <%= 'selected' if (@a_init && @a_init == a.name) %>' album='.album-<%= a.id %>' a_name='<%= a.name %>'><%= a.name %></li>
	  <% end %>
	</ul>
</div>
<div id="container" class="photos clearfix">
  <% @photos.each do |p| %>
	<div id='photo-<%= p.id %>' class="photo album-<%= p.album_id %> <%= 'clicked' if @p_init == p.name %> shadow trans" album='.album-<%= p.album_id %>' p_url='<%=p.image.url(:large)%>' p_width='<%= p.dimensions[0] if p.dimensions %>' p_height='<%= p.dimensions[1] if p.dimensions %>' p_name='<%=p.name%>'>
	  <%= image_tag p.image.url(:medium), :class=>'image'%>
	  <div class='p-name-div trans'>
	  	<b class='p-name'><%= p.name %></b>
	  </div>
    </div>
  <% end %>
</div>

<%= javascript_include_tag "jquery.isotope.min.js" %>
<%= javascript_include_tag "jquery.history.js" %>
<script>



  $(function(){
	  currentArray = []; 
	  currentIndex = undefined;
	  currentAlbum = $('.filter.selected').attr('album');
      currentAlbumName = $('.filter.selected').attr('a_name');
      updateCurrentArray(document.getElementsByClassName('clicked')[0]);

      $container = $('#container');
    
      $container.imagesLoaded( function(){
        var options = {};
      	options['filter'] = $('.filter.selected').attr('album');
      	$container.isotope(options);
      });
      
      $('.filter').click(function(){
      	filterClicked(this);
      	pushAlbumChangeState();
      });
      
      $('.photo').click(function(){
      	photoClicked(this);
      	pushPhotoChangeState($(this));
      });
      
      $('#full-back, #full-close').click(function(){
      	$('#fullscreen').fadeOut();
      	$('.photo').removeClass('clicked');
      	$('body').removeClass('stop-scrolling');
      	currentIndex = undefined;
      	if (currentAlbum == '*')
      		History.pushState({album:$('.selected').attr('id'), photo:$('.clicked').attr('id')}, $("title").text(), '/gallery');
  		else 
  			History.pushState({album:$('.selected').attr('id'), photo:$('.clicked').attr('id')}, $("title").text(), '/gallery/'+ currentAlbumName);
      });
      
      $( window ).resize(function(){
      	resize();
      });
      
      History.Adapter.bind(window, 'statechange', function() {
	      console.log(History.getState());
	      updateContent(History.getState());
	  });
	  
	  if (currentAlbum == '*')
	  	  History.replaceState({album:$('.selected').attr('id'), photo:$('.clicked').attr('id')}, $("title").text(), window.location.pathname);
	  else 
	  	  History.replaceState({album:$('.selected').attr('id'), photo:$('.clicked').attr('id')}, $("title").text(), window.location.pathname);

	  $('.clicked').click();
  });
  
function filterClicked(ele){
	var $this = $(ele);
      	if ( $this.hasClass('selected') ){
      		return false;
      	}
      	
      	$('.filter').removeClass('selected');
      	$this.addClass('selected');
      	currentAlbum = $this.attr('album');
      	currentAlbumName = $this.attr('a_name');
      	
      	var options = {};
      	options['filter'] = $this.attr('album');
      	$container.isotope(options);
      	
      	return false;
}
function photoClicked(ele)
{
	var $this = $(ele);
      	updateCurrentArray(ele);
      	$('body').addClass('stop-scrolling');
      	$('#fullscreen').css('top',window.pageYOffset + 'px');
      	$('#fullscreen').fadeIn();
      	changePhoto($this);
      	resize();
}
  
function resize(){
	var outerH = $('#fullscreen').height() - 40;
  	var outerW = $('#fullscreen').width() - 40;
  	$('#full-container').height(outerH + 'px');
  	$('#full-container').width(outerW + 'px');
  	var rightW = 0;
    var img = $('#full-image'); 
	var imageH, imageW;
	var assignH, assignW
	
	imageW = img.attr('p_width').to_i;
	imageH = img.attr('p_height').to_i;
	if ( imageW == undefined || imageH == undefined ){
		var i = $("<img/>") // Make in memory copy of image to avoid css issues
	    .attr("src", img.attr("src"))
	    .load(function(){
	        imageW = i[0].width;   // Note: $(this).width() will not
	        imageH = i[0].height; // work for in memory images.
	        assignW = imageW;
		    assignH = imageH;
		    if ((imageW + rightW) > outerW)
		    {
		    	assignW = outerW - rightW;
		    	assignH = assignW * (imageH/imageW);
		    }
		    if (assignH > outerH)
		    {
		    	assignH = outerH;
		    	assignW = assignH * (imageW/imageH);
		    	
		    }
		    $('#full-image').css('width', assignW+'px');
		    $('#full-container').css('width', assignW+rightW+'px');
		    $('#full-container').css('height', assignH+'px');
		    $('#full-container').css('margin-top', (outerH-assignH+40)/2+'px');
		    $('#wrapper-left').css('width', assignW+'px');
		    $('#wrapper-left').css('height', assignH+'px');
		    $('#wrapper-right').css('height', assignH-30+'px');
		    $('.fb-comments-div').css('height', assignH-100+'px');
		    $('.p-arrow').css('top', (assignH - 40)/2 + 'px');
	    });
    }else{
    	assignW = imageW;
	    assignH = imageH;
	    if ((imageW + rightW) > outerW)
	    {
	    	assignW = outerW - rightW;
	    	assignH = assignW * (imageH/imageW);
	    }
	    if (assignH > outerH)
	    {
	    	assignH = outerH;
	    	assignW = assignH * (imageW/imageH);
	    	
	    }
	    $('#full-image').css('width', assignW+'px');
	    $('#full-container').css('width', assignW+rightW+'px');
	    $('#full-container').css('height', assignH+'px');
	    $('#full-container').css('margin-top', (outerH-assignH+40)/2+'px');
	    $('#wrapper-left').css('width', assignW+'px');
	    $('#wrapper-left').css('height', assignH+'px');
	    $('#wrapper-right').css('height', assignH-30+'px');
	    $('.fb-comments-div').css('height', assignH-100+'px');
	    $('.p-arrow').css('top', (assignH - 40)/2 + 'px');
    }
    

}

function updateCurrentArray( obj )
{
	if (currentAlbum == '*')
		currentArray = $('div.photo');
	else
		currentArray = $('div'+currentAlbum);
	$.each(currentArray, function(idx,val){
		if ( val == obj ) currentIndex = idx;
	});
}

function changePhoto($ele)
{
	$('.photo').removeClass('clicked');
	$ele.addClass('clicked');
	$('#wrapper-left').html('<img src="'+$ele.attr('p_url')+'" id="full-image" p_width="'+ $ele.attr('p_width') +'" p_height="'+ $ele.attr('p_height') +'"/> \
							<div id="a-info" class="trans"><strong>' + $ele.attr('p_name') + ' - ' + currentAlbumName +'</strong> \
							<span> (' + (currentIndex + 1) + '/'+ currentArray.length +')</span></div> \
							<div id="p-left-div" class="p-arrow-div" onclick="showLeft()"><div class="p-arrow" id="p-left"></div></div> \
							<div id="p-right-div" class="p-arrow-div" onclick="showRight()"><div class="p-arrow" id="p-right""></div></div>');
	url = window.location.href;
	$('.fb-like').attr('data-href', url );
	if (typeof(FB) != 'undefined' && FB != null) 
		FB.XFBML.parse();
}

function pushAlbumChangeState(){
	if (currentAlbum == '*')
  		History.pushState({album:$('.selected').attr('id'), photo:$('.clicked').attr('id')}, $("title").text(), '/gallery');
  	else 
  		History.pushState({album:$('.selected').attr('id'), photo:$('.clicked').attr('id')}, $("title").text(), '/gallery/'+ currentAlbumName);
      	
}
function pushPhotoChangeState($ele){
	if (currentAlbum == '*')
		History.pushState({album:$('.selected').attr('id'), photo:$ele.attr('id')}, $("title").text(), '/gallery/photo/'+ $ele.attr('p_name'));
  	else 
  		History.pushState({album:$('.selected').attr('id'), photo:$ele.attr('id')}, $("title").text(), '/gallery/'+ currentAlbumName+ '/photo/' + $ele.attr('p_name'));
}

function updateContent(state)
{
	console.log('state.data');
	if (state.data.album)
	{
		filterClicked($('#'+state.data.album)[0]);
		if (state.data.photo){
			photoClicked($('#'+state.data.photo)[0]);
		}
		else{
			$('#fullscreen').fadeOut();
			$('.photo').removeClass('clicked');
		}
	}
}

function showLeft(){
	currentIndex--;
	if (currentIndex < 0)
		currentIndex = currentArray.length-1;
	changePhoto($(currentArray[currentIndex]));
	pushPhotoChangeState($(currentArray[currentIndex]));
	resize();
}
      
function showRight(){
	currentIndex++;
	if (currentIndex == currentArray.length)
		currentIndex = 0;
	changePhoto($(currentArray[currentIndex]));
	pushPhotoChangeState($(currentArray[currentIndex]));
	resize();
}

</script>

<% content_for :fullscreen do %>
<div id='fullscreen'>
	<div id='full-back'>
	</div>
	<div id='full-container'>
		<div id='wrapper-left'>
		</div>
		<div class='fb-like-div'>
			<div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
		</div>
		<%= image_tag 'close_button.png', :id=>'full-close' %>
	</div>
	
</div>
<% end %>
